# deps
node_modules/
*/node_modules/

# build
dist/
build/
*/dist/
*/build/

# cdk
infra/cdk.out/
cdk.out/
*.d.ts.map
infra/outputs.json

# env / secrets
.env
.env.*
!.env.example
*.pem
aws-exports.js
amplify_outputs.json

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
.vscode/
.idea/

# test / coverage
coverage/
