# StudySnap web build-time config (copy to .env.local; values default to deployed stack)
VITE_API_URL=https://u1g7hquhsf.execute-api.us-east-1.amazonaws.com/prod/
VITE_AWS_REGION=us-east-1
VITE_USER_POOL_ID=us-east-1_FTWr35GEJ
VITE_USER_POOL_CLIENT_ID=au8p7tlunoeet8jrlflb87dhv
